@font-face{
    font-family:"MuaThu";
src:url(uvnmuathu.eot);
src:url(uvnmuathu.eot#iefix) format("embedded-opentype"),url(uvnmuathu.woff) format("woff"),url(uvnmuathu.ttf) format("truetype"),url(uvnmuathu.svg) format("svg");
font-weight:400;
font-style:normal
}

.text1line{
    overflow:hidden;
    display:-webkit-box;
-webkit-line-clamp:1;
-webkit-box-orient:vertical}

.text2line{
    overflow:hidden;
    display:-webkit-box;
-webkit-line-clamp:2;
-webkit-box-orient:vertical}

.text3line{
    overflow:hidden;
    display:-webkit-box;
-webkit-line-clamp:3;
-webkit-box-orient:vertical}

.text4line{
    overflow:hidden;
    display:-webkit-box;
-webkit-line-clamp:4;
-webkit-box-orient:vertical}

.text5line{
    overflow:hidden;
    display:-webkit-box;
-webkit-line-clamp:5;
-webkit-box-orient:vertical}

.text6line{
    overflow:hidden;
    display:-webkit-box;
-webkit-line-clamp:6;
-webkit-box-orient:vertical}

.text7line{
    overflow:hidden;
    display:-webkit-box;
-webkit-line-clamp:7;
-webkit-box-orient:vertical}

.text8line{
    overflow:hidden;
    display:-webkit-box;
-webkit-line-clamp:8;
-webkit-box-orient:vertical}

.text9line{
    overflow:hidden;
    display:-webkit-box;
-webkit-line-clamp:9;
-webkit-box-orient:vertical}

.button_height_44{
    color:#fff;
    font-family:'Roboto',sans-serif;
font-size:14px;
font-weight:500;
line-height:14px;
padding:0px 20px !important;
height:44px;
line-height:44px;
text-decoration:none !important;
position:relative;
border:none;
display:inline-block;
overflow:hidden;
text-align:center;
background:#bda87f;
text-transform:uppercase}

.btn-custome{
    background:#bda87f;
    border:none;
height:40px;
padding:0px 20px;
color:#fff;
box-shadow:none;
text-decoration:none !important;
cursor:pointer}

.btn-custome:hover{
    background:#bda87f;
    color:#fff;
text-decoration:none}

.margin-bottom-40{
    margin-bottom:40px}

.f-right{
    float:right}

.img-align{
    display:-webkit-flex;
    -webkit-align-items:center;
display:flex;
align-items:center}

.tz-award-slider .owl-controls .owl-page{
    position:relative}

.tz-award-slider .owl-controls .owl-page:before{
    content:"";
height:40px;
width:40px;
text-align:center;
border:solid 2px #fff;
position:relative;
border-radius:0px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
display:block;
margin:5px;
position:relative}

.tz-award-slider .owl-controls .owl-page:hover:before{
    border-color:#bda87f;
    background-color:#bda87f}

.tz-award-slider .owl-controls .owl-page span.owl-numbers{
    z-index:9999;
    position:absolute;
top:3px;
left:20px}

@media (min-width: 768px) and (max-width: 991px){
    .tz-award-slider .owl-controls .owl-page{
    position:relative}

.tz-award-slider .owl-controls .owl-page:before{
    content:"";
height:30px;
width:30px;
text-align:center;
border:solid 2px #fff;
position:relative;
border-radius:0px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
display:block;
margin:5px;
position:relative}

.tz-award-slider .owl-controls .owl-page:hover:before{
    border-color:#bda87f;
    background-color:#bda87f}

.tz-award-slider .owl-controls .owl-page span.owl-numbers{
    z-index:9999;
    position:absolute;
top:-2px !important;
left:16px}

}

@media (max-width: 767px){
    .tz-award-slider .owl-controls .owl-page{
    position:relative}

.tz-award-slider .owl-controls .owl-page:before{
    content:"";
height:30px;
width:30px;
text-align:center;
border:solid 2px #fff;
position:relative;
border-radius:0px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
display:block;
margin:5px;
position:relative}

.tz-award-slider .owl-controls .owl-page:hover:before{
    border-color:#bda87f;
    background-color:#bda87f}

.tz-award-slider .owl-controls .owl-page span.owl-numbers{
    z-index:9999;
    position:absolute;
top:5px;
left:16px}

}

.home-slider{
    overflow:hidden}

.home-slider .item{
    position:relative}

.home-slider.owl-carousel .owl-nav .owl-next{
    right:15px !important;
    background:transparent;
top:50%}

.home-slider.owl-carousel .owl-nav .owl-prev{
    left:15px !important;
    background:transparent;
top:50%}

.home-slider.owl-carousel .owl-nav .owl-prev:before,.home-slider.owl-carousel .owl-nav .owl-next:before{
    font-size:84px;
    background:transparent}

.home-slider.owl-carousel .owl-dots{
    position:static;
    bottom:-20px}

.home-slider.owl-carousel .owl-dots .owl-dot{
    width:18px;
    height:18px;
border:solid 1px #ddd}

.home-slider.owl-carousel .owl-dots .owl-dot.active{
    background:#74fe46}

.banner-item{
    position:relative}

.banner-item img{
    min-height:250px;
    visibility:hidden}

.banner-item:after{
    content:"";
position:absolute;
display:block;
top:0;
bottom:0;
left:0;
right:0;
background:rgba(0,0,0,0.3);
-webkit-transition:all ease .25s;
transition:all ease .25s;
-webkit-transform:scale(0, 0);
-ms-transform:scale(0, 0);
transform:scale(0, 0);
visibility:hidden}

.banner-item:before{
    content:"";
display:block;
position:absolute;
top:10px;
bottom:10px;
left:10px;
right:10px;
border:1px solid #fff;
z-index:2;
-webkit-transition:all ease .25s;
transition:all ease .25s;
-webkit-transform:scale(0, 0);
-ms-transform:scale(0, 0);
transform:scale(0, 0);
visibility:hidden}

.banner-item:hover:after{
    -webkit-transform:scale(1, 1);
    -ms-transform:scale(1, 1);
transform:scale(1, 1);
visibility:visible}

.banner-item:hover:before{
    -webkit-transform:scale(1, 1);
    -ms-transform:scale(1, 1);
transform:scale(1, 1);
visibility:visible}

.banner-item .banner-text{
    position:absolute;
    top:50%;
text-align:center;
width:100%;
margin-top:-70px;
z-index:2;
opacity:0;
-webkit-transition:opacity ease .25s;
transition:opacity ease .25s}

.banner-item .banner-text span{
    font-family:"MuaThu";
font-size:55px;
color:#fff;
display:block}

.banner-item .banner-text .df{
    font-family:"MuaThu";
font-size:50px;
font-weight:300;
line-height:24px}

.banner-item:hover .banner-text{
    opacity:1}

.section-title{
    text-align:center;
    margin-bottom:35px}

.section-title .section-title-heading{
    font-family:'MuaThu';
margin-bottom:10px;
margin-top:0;
font-weight:normal}

.section-title .section-title-heading a{
    line-height:35px;
    color:#000}

.section-title .section-title-heading a .section-title-main{
    font-size:45px;
    color:#bda87f}

.section-title .section-title-heading:hover a{
    text-decoration:none}

.grid-item-sp{
    text-align:center;
    margin-bottom:30px;
padding-left:15px;
padding-right:15px}

.section_tab_product h2{
    line-height:1;
    margin:0 0 20px 0}

.section_tab_product .tabs-title{
    margin-bottom:25px;
    overflow:hidden}

.section_tab_product .tabs-title li{
    display:inline-block;
    height:35px;
line-height:35px;
margin-right:1px}

.section_tab_product .tabs-title li.current span{
    color:#bda87f}

.section_tab_product .tabs-title li span{
    font-size:16px;
    font-weight:bold;
margin-right:0;
color:#000;
padding:0 15px;
border-radius:0;
border:none;
text-transform:uppercase}

.section_tab_product .tab-content{
    clear:left}

@media (max-width: 768px){
    .section_tab_product .tabs-title li{
    min-width:140px}

}

#owl-demo-ppsay{
    margin-top:0}

#owl-demo-ppsay:before{
    content:" ";
width:100%;
height:100%;
background:#000;
position:absolute;
opacity:.5}

#owl-demo-ppsay .owl-item .item{
    height:320px}

#owl-demo-ppsay .owl-wrapper-outer{
    background-color:rgba(0,0,0,0.5)}

#owl-demo-ppsay .owl-buttons{
    display:none !important}

#owl-demo-ppsay{
    margin-top:0}

.owl-pagination{
    text-align:center}

.owl-page{
    display:inline-block;
    border-radius:50%;
margin:10px}

.doitac .owl-controls{
    display:none !important}

.ppsaydiv{
    position:relative;
    overflow:hidden;
display:inline-block;
height:100%;
width:100%}

.ppsaycontent{
    color:#ddd;
    text-align:center}

.ppsaycontentcmt{
    max-width:960px;
    text-align:center;
margin-left:auto;
margin-right:auto;
max-height:140px;
font-size:14px}

.ppsayauthor{
    margin-top:15px}

.ppsaycontentcmt{
    margin-top:25px}

.ppsayauthor p span{
    text-transform:uppercase;
    font-style:normal}

.ppsaycontentcmt p{
    font-size:16px;
    font-family:sans-serif;
line-height:28px;
font-weight:normal;
color:#fff}

.ppsayauthor p{
    font-size:14px;
    font-family:roboto,sans-serif;
font-style:italic;
color:#fff}

.ppsayavt{
    margin-top:30px}

#owl-demo-ppsay .owl-pagination{
    display:none}

#owl-demo-ppsay .owl-prev{
    float:left;
    text-indent:-9999px;
display:inline-block;
text-indent:-9999px;
background:url(leftpre.png) no-repeat 0 center;
width:36px;
height:70px;
text-decoration:none;
position:absolute;
left:0;
top:50%;
margin-top:-35px;
margin-left:70px}

#owl-demo-ppsay .owl-next{
    float:right;
    text-indent:-9999px;
display:inline-block;
text-indent:-9999px;
background:url(rightnext.png) no-repeat 0 center;
width:36px;
height:70px;
text-decoration:none;
position:absolute;
right:0;
top:50%;
margin-top:-35px;
margin-right:70px}

.ppsayavt{
    width:125px;
    height:125px;
overflow:hidden;
border-radius:50%;
text-align:center;
margin-left:auto;
margin-right:auto}

@media only screen and (min-width: 768px) and (max-width: 979px){
    .ppsayavt{
    margin-top:45px !important}

.ppsaycontentcmt{
    margin-top:25px !important}

.ppsayavt{
    width:95px !important;
    height:95px !important}

}

@media only screen and (min-width: 481px) and (max-width: 767px){
    .ppsayavt{
    margin-top:45px !important}

.ppsaycontentcmt{
    margin-top:25px !important}

.ppsayavt{
    width:75px;
    height:75px}

}

@media only screen and (max-width: 480px){
    .ppsayavt,.ppsaycontentcmt{
    margin-top:15px !important}

.ppsayavt{
    width:75px;
    height:75px}

.nav-tab-products>li>a{
    font-size:16px;
    font-weight:300;
margin-right:0;
color:#7d7d7d;
padding:0 1.5vw;
border-radius:0;
border:none}

.header-msg .pull-left,.policy-text p{
    display:none}

.policy-icon{
    float:left;
    height:auto;
width:auto;
line-height:22px;
text-align:center;
border:0 solid #eee;
border-radius:50%;
color:#666;
font-size:22px;
margin-right:10px;
-webkit-transition:all ease .25s;
transition:all ease .25s;
margin-top:12px}

.policy-text h5{
    margin:0;
    line-height:22px}

.header-msg .pull-left,.policy-text p{
    display:none}

.policy-text h5{
    margin:0;
    line-height:22px}

}

#owl-demo-ppsay .item img{
    display:block;
    width:100%;
height:auto}

@media (min-width: 1200px){
    .tab-content .products .col-lg-3:nth-child(4n+1){
    clear:left}

}

@media (min-width: 992px) and (max-width: 1199px){
    .tab-content .products .col-md-3:nth-child(4n+1){
    clear:left}

}

@media (min-width: 768px) and (max-width: 991px){
    .tab-content .products .col-sm-6:nth-child(2n+1){
    clear:left}

}

@media (max-width: 767px){
    .tab-content .products .col-xs-12:nth-child(1n+1){
    clear:left}

}

.section-news h2{
    position:relative;
    margin:0 0 25px 0}

.section-news h2:before{
    position:absolute;
    content:"";
width:100px;
height:2px;
background:#dadada;
left:50%;
-moz-transform:translate(-50%, 0);
-o-transform:translate(-50%, 0);
-ms-transform:translate(-50%, 0);
-webkit-transform:translate(-50%, 0);
transform:translate(-50%, 0)}

.section-news h2:after{
    bottom:0;
    position:absolute;
content:"";
width:100px;
height:2px;
background:#dadada;
left:50%;
-moz-transform:translate(-50%, 0);
-o-transform:translate(-50%, 0);
-ms-transform:translate(-50%, 0);
-webkit-transform:translate(-50%, 0);
transform:translate(-50%, 0)}

.section-news .blog-item{
    background:#fff}

.section-news .blog-item .blog-item-namex{
    margin-top:25px;
    margin-bottom:7px;
font-size:24px;
line-height:18px}

.section-news .blog-item .blog-item-namex a{
    color:#363636;
    font-size:16px;
font-weight:bold}

.section-news .blog-item .blog-item-namex:hover a{
    color:#74fe46;
    text-decoration:none}

.section-news .blog-item .blog-item-summary{
    color:#444;
    line-height:24px;
margin-bottom:20px;
padding-bottom:15px;
border-bottom:1px solid #ebebeb;
display:inline-block}

.section-news .blog-item .blog-item-summary img{
    display:none}

.section-news .blog-item .blog-info{
    color:#898989;
    text-align:justify}

.section-news .blog-item-thumbnail img{
    margin:0 auto}

.section-brand-logos{
    background:#f7f7f7;
    padding:45px 0}

.aside-item{
    margin-bottom:25px}

.aside-title .title-head{
    text-transform:uppercase;
    font-size:16px;
font-weight:bold;
color:#333;
position:relative;
margin-bottom:30px}

.aside-title .title-head:after{
    content:"";
display:block;
position:absolute;
left:0;
bottom:0;
width:30px;
height:2px;
background:#74fe46;
margin-bottom:-10px}

.collection-category .nav-category ul .nav-item .dropdown-menu .nav-item{
    position:relative}

.collection-category .nav-category ul .nav-item .dropdown-menu .nav-item:hover>a{
    background:none}

@media (max-width: 991px){
    .box_collection_mobile{
    margin-bottom:30px}

}


