﻿@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px){.table-responsive-block table,.table-responsive-block thead,.table-responsive-block tbody,.table-responsive-block th,.table-responsive-block td,.table-responsive-block tr{display:block}
.table-responsive-block thead tr{position:absolute;top:-9999px;left:-9999px}
.table-responsive-block tr{background:#fff;line-height:20px;margin-bottom:10px}
.table-responsive-block td{border:none;position:relative;padding-left:40%;text-align:right;font-weight:700}
.table-responsive-block td.last{padding:0;line-height:50px}
.table-responsive-block td.last a{color:#bda87f}
.table-responsive-block td:before{position:absolute;top:8px;left:10px;width:45%;padding-right:10px;text-align:left;white-space:nowrap;font-weight:400}
.table-responsive-block .table-order td:nth-of-type(1):before{content:"Đơn hàng"}
.table-responsive-block .table-order td:nth-of-type(2):before{content:"Ngày"}
.table-responsive-block .table-order td:nth-of-type(3):before{content:"Chuyển đến"}
.table-responsive-block .table-order td:nth-of-type(4):before{content:"Địa chỉ"}
.table-responsive-block .table-order td:nth-of-type(5):before{content:"Giá trị"}
.table-responsive-block .table-order td:nth-of-type(6):before{content:"Tình trạng"}
.table-responsive-block #order_details td:nth-of-type(1):before{content:"Sản phẩm"}
.table-responsive-block #order_details td:nth-of-type(2):before{content:"Mã sản phẩm"}
.table-responsive-block #order_details td:nth-of-type(3):before{content:"Giá"}
.table-responsive-block #order_details td:nth-of-type(4):before{content:"Số lượng"}
.table-responsive-block #order_details td:nth-of-type(5):before{content:"Tổng"}
.table-responsive-block #order_details td:nth-of-type(6):before{content:"Tình trạng"}
.table-responsive-block .totalorders td:nth-of-type(1):before{content:"Tạm tính"}
.table-responsive-block .totalorders td:nth-of-type(2):before{content:"Phí vận chuyển"}
.table-responsive-block .totalorders td:nth-of-type(3):before{content:"Tổng tiền"}
.table-responsive-block .totalorders td:nth-of-type(4):before{content:"Số lượng"}
.table-responsive-block .totalorders td:nth-of-type(5):before{content:"Tổng"}
.table-responsive-block .totalorders td:nth-of-type(6):before{content:"Tình trạng"}
}
@media (min-width: 1200px){.tab-content .products .col-lg-3:nth-child(4n+1){clear:left}
}
@media (min-width: 992px) and (max-width: 1199px){.section-product-wrapper .gridsp .col-md-3:nth-child(4n+1){clear:left}
.tab-content .products .col-md-3:nth-child(4n+1){clear:left}
}
@media (min-width: 991px) and (max-width: 1199px){.wrp .text-policy{display:block;float:left;width:calc(100% - 72px)}
.wrp .font_wave{height:45px;width:45px;line-height:45px;font-size:18px;margin-top:10px}
.wrp .text-policy p{font-size:13px;margin-top:10px}
.product-small-wrapper .slick-list{margin-top:20px !important}
}
@media (min-width: 992px){.product-small-wrapper .slick-list{max-height:300px}
}
@media (min-width: 768px) and (max-width: 991px){.wrp .text-policy{display:block;float:left;width:calc(100% - 60px)}
.wrp .font_wave{height:50px;width:50px;line-height:50px;font-size:18px;margin-top:10px}
.wrp .text-policy p{font-size:13px;margin-top:10px}
.heading-cart{position:relative}
.heading-cart .cart-ico .count_item_pr{right:-15px}
.pull-left .filter-item{margin-left:0px}
.section-product-wrapper .gridsp .col-sm-6:nth-child(2n+1){clear:left}
.tab-content .products .col-sm-6:nth-child(2n+1){clear:left}
}
@media (min-width: 768px) and (max-width: 991px){.footer-middle-area .multi-columns-row .row_right .col-sm-6:nth-child(2n+1){clear:left}
}
@media (max-width: 991px){#sync1 .item{text-align:center}
.product-view-area{margin:20px 0 !important}
body{overflow-x:hidden}
.ops.o_show{content:" ";width:100%;height:100%;position:absolute;z-index:99999999;top:0px;left:0px;background:transparent}
.filter-right{position:relative;display:block}
.filter-right .filter-item{position:relative;line-height:40px;min-width:50px !important}
.filter-right .pull-left{float:none !important;overflow:hidden}
.fix_height_mobile{-webkit-transition:all 0.35s ease;-o-transition:all 0.35s ease;transition:all 0.35s ease;-webkit-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0);overflow-x:hidden}
.fix_height_mobile.margin-left-menu{-webkit-transform:translateX(280px);-ms-transform:translateX(280px);-o-transform:translateX(280px);transform:translateX(280px);overflow:hidden}
.sidenav{font-family:"Roboto",sans-serif;width:280px;height:100%;position:absolute;left:0;z-index:99999999;top:0px !important;background-color:#333;overflow-x:hidden;visibility:hidden;-webkit-transition:all 0.35s ease;-o-transition:all 0.35s ease;transition:all 0.35s ease;-webkit-transform:translateX(-280px);-ms-transform:translateX(-280px);-o-transform:translateX(-280px);transform:translateX(-280px)}
.sidenav.open_sidebar_menu{visibility:visible;left:0px;-webkit-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0)}
.sidenav .content_memu_mb{display:block;float:left;width:100%}
.sidenav .content_memu_mb .customer span{font-family:"Roboto",sans-serif;padding:10px 0px;display:block;cursor:pointer}
.sidenav .content_memu_mb .customer span a{font-size:14px;line-height:15px;color:#fff;display:block;margin:0px 15px}
.sidenav .content_memu_mb .customer .acc a:before{font-family:'FontAwesome';content:"\e603";font-size:16px;color:#179cd7;padding-right:15px}
.sidenav .content_memu_mb .customer .out a:before{font-family:'themify';content:"\e62b";font-size:16px;color:#179cd7;padding-right:15px}
.sidenav .content_memu_mb .link_list_mobile{margin:0px 0px 20px}
.sidenav .content_memu_mb .link_list_mobile .ct-mobile{color:#fff}
.sidenav .content_memu_mb .link_list_mobile .ct-mobile li{position:relative}
.sidenav .content_memu_mb .link_list_mobile .ct-mobile li i{position:absolute;right:5px;top:0px;cursor:pointer;display:block;text-align:center;width:30px;height:36px;line-height:36px;color:#f6f7f9}
.sidenav .content_memu_mb .link_list_mobile .ct-mobile li a{color:#fff}
.sidenav .content_memu_mb .link_list_mobile .ct-mobile li a:hover{text-decoration:none}
.sidenav .content_memu_mb .link_list_mobile .ct-mobile .level0 a{display:block;font-size:14px;line-height:36px;padding:0px 15px}
.sidenav .content_memu_mb .link_list_mobile .ct-mobile .level0:last-child{border-bottom:0px}
.sidenav .content_memu_mb .link_list_mobile .ct-mobile .level0 .level1 a{display:block;font-size:14px;line-height:36px;padding:0px 15px 0px 25px}
.sidenav .content_memu_mb .link_list_mobile .ct-mobile .level0 .level1:last-child{border-bottom:0px}
.sidenav .content_memu_mb .link_list_mobile .ct-mobile .level0 .level1:first-child{border-top:0px}
.sidenav .content_memu_mb .link_list_mobile .ct-mobile .level0 .level1 .level2 a{display:block;font-size:14px;line-height:30px;padding:0px 35px 0px 35px}
.sidenav .content_memu_mb .link_list_mobile .ct-mobile .level0 .level1 .level2:last-child{border-bottom:0px}
.sidenav .content_memu_mb .link_list_mobile .ct-mobile .level0 .level1 .level2:first-child{border-top:0px}
.sidenav .content_memu_mb .link_list_mobile .ct-mobile .level0 .level1 .level2 .level3 a{display:block;font-size:14px;line-height:30px;padding:0px 35px 0px 40px}
.sidenav .content_memu_mb .link_list_mobile .ct-mobile .level0 .level1 .level2 .level3:last-child{border-bottom:0px}
.sidenav .content_memu_mb .link_list_mobile .ct-mobile .level0 .level1 .level2 .level3:first-child{border-top:0px}
.sidenav .close_menu{display:block;height:66px;background-repeat:no-repeat;background-size:contain;background-position:center;width:150px;margin-top:-5px;margin-left:15px;float:left}
}
@media (max-width: 767px){.product-tab .tab-link{width:100%;border:none;padding:0;margin-bottom:10px !important;background:#fff}
.tab-content-mobile{display:none}
.product-tab .tab-link.current h3{border:0px}
.current .tab-content-mobile{display:block;padding:0px 10px;border:1px solid #e1e1e1;border-top:none;background:#fff}
.current .tab-content-mobile .rte{padding:10px 0px;border-bottom:0px;color:#000}
ul.tabs.tabs-title{display:block;border:none;width:100%;background:none !important}
.product-tab .tab-link h3{border:1px solid #ddd;padding:10px 10px;margin-top:0;position:relative}
.product-tab .tab-link h3:before{content:'\f107';font-size:20px;font-family:FontAwesome;float:right;margin-right:0;margin-top:-3px}
.product-tab .tab-link.current .tab-content-mobile{margin-bottom:0px;color:#000}
.product-tab .tab-link.current h3{margin-bottom:0;border-bottom:none;border:solid 1px #ddd}
.filter-item,.pull-left .filter-item{margin-left:0px !important}
.filter-item select{padding:0px}
.adr_title .title-head{display:block}
.col-address{overflow:hidden}
.back_account{text-transform:none;font-weight:500;text-align:left;display:block;width:100%;margin:0px 0px 15px;line-height:24px}
.oder_total_monney{overflow:hidden}
.page_order_account .top_order_title .order_date a{margin-left:30px;color:#bda87f;display:block;margin-left:0px}
.table.table-cart>tbody>tr>td+td{border-left:0px !important}
.table.table-cart>tbody>tr>td{border-top:solid 1px #ddd;line-height:24px}
.table.table-cart>tbody>tr>td a{line-height:24px}
.form-product .form-group{width:100%}
.form-product .form-group .selector-wrapper select{width:100%}
.form-product .form-groupx{width:100%}
.details-product .details-pro .custom-btn-number .product-qty,.form-product form .form-groupx .btn-buy{width:100%}
}
@media (max-width: 543px){section.sidebar.left-content.col-lg-12{padding:0}
.products .col-xs-6,.category-products .col-xs-6{clear:left;width:100%}
.filter-item select{padding-right:15px;width:82px}
}
@media (max-width: 1199px){.zoomContainer{display:none}
header nav .mega-content{width:940px}
header nav .mega-content .level1.item{text-align:left}
}
@media (max-width: 991px) and (min-width: 769px){.search.f-right{margin-right:50px}
header nav .nav-item.has-mega{position:relative}
header nav .nav-item>.fa{color:#bda87f;position:absolute}
header nav .nav-item{padding-right:10px}
header nav .nav-item.active{background:#74fe46}
header nav .nav-item.active .fa{color:#fff}
header nav .nav-item>.fa{top:0px;line-height:50px;right:0px;padding:0px 5px}
header nav .nav-item.has-mega:hover>a{color:#74fe46}
header nav .nav-item:hover>a{background:none;color:#74fe46}
}
@media (min-width: 769px){.menu-bar.hidden-md.hidden-lg,.logo-xxs{display:none !important}
}
@media (min-width: 767px) and (max-width: 769px){.header{margin-top:65px}
}
@media (min-width: 1200px){.related-product .products .col-lg-3:nth-child(4n+1){clear:left}
}
@media (max-width: 769px){.topbar{text-align:center;height:45px;line-height:45px;position:fixed;top:0px !important;z-index:9999;width:100%}
.header-nav{position:fixed;top:45px !important;left:0;width:100%;background:#fff;z-index:1041;box-shadow:0 5px 5px rgba(0,0,0,0.05);border-top:0 solid #f2f2f2 !important;border-bottom:0 solid #f2f2f2 !important;height:65px}
.header-main{padding-top:60px !important;padding-bottom:30px !important}
}
@media (min-width: 992px) and (max-width: 1199px){.related-product .products .col-md-3:nth-child(4n+1){clear:left}
}
@media (min-width: 768px) and (max-width: 991px){.related-product .products .col-sm-6:nth-child(2n+1){clear:left}
}
@media (max-width: 768px){header>.container{position:relative}
.menu-bar.hidden-md.hidden-lg{position:absolute;top:30px;left:15px;transform:translateY(-50%);-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);z-index:888}
.logo-xs-m{display:none}
.header .logo{display:block;width:100%;margin-bottom:20px;text-align:center;margin:0 auto;height:60px;line-height:60px}
header .logo a{display:inline-block;text-align:center;width:130px;line-height:65px}
.group-search-cart{position:absolute;right:15px}
.group-search-cart .searchsmall{right:45px}
.searchboxlager .searchfromtop{width:100%;top:65px}
.searchboxlager .searchfromtop form input{height:60px}
header nav .nav-item{display:block;width:100%;text-align:left;margin:0}
header nav .nav-item .dropdown-menu{display:none !important;position:static;border:none}
header nav .nav-item.open a{background:none !important}
header nav .nav-item.open>.dropdown-menu{display:block !important;margin:0;padding:0}
header nav li.menu-line{display:none;border:none}
header nav .nav-item>a{line-height:20px;padding:5px 15px 3px}
header nav #nav-mobile .nav-item>.dropdown-menu{padding:0 0 0 15px;position:static;width:100%;float:none;border:none;padding-right:7px}
header nav .nav-item:hover>.dropdown-menu li.open>.dropdown-menu{display:block !important}
.header-main{padding:10px 0}
#nav{padding-right:0;display:none;padding-right:0;padding:10px 0;border:1px solid #ebebeb;margin-bottom:15px}
#nav.open{display:block;top:50px}
#nav .nav-link>.fa{float:right;line-height:22px;margin-right:-15px;width:40px;text-align:center;transform:translateY(-5px);-webkit-transform:translateY(-5px);-moz-transform:translateY(-5px)}
.menu-mobile{padding:15px;background:#fff;position:absolute;width:100%;top:65px;left:0;box-shadow:0 5px 5px rgba(0,0,0,0.05);overflow-y:auto;max-height:100vh;overflow-x:hidden}
.menu-mobile::-webkit-scrollbar{width:3px}
.menu-mobile::-webkit-scrollbar-track{background:rgba(255,255,255,0.9)}
.menu-mobile::-webkit-scrollbar-thumb{background:#bda87f;border-radius:15px}
.menu-mobile::-webkit-scrollbar-thumb:hover,.menu-mobile::-webkit-scrollbar-thumb:active{background:#bda87f;border-radius:15px}
.menu-mobile .content-menu-mobile .ct-mb .mn-lv1{position:relative}
.menu-mobile .content-menu-mobile .ct-mb .mn-lv1>a{padding:10px 15px;color:#bda87f;text-transform:uppercase;font-weight:bold;display:block}
.menu-mobile .content-menu-mobile .ct-mb .mn-lv1 .fa{position:absolute;right:0px;padding:0px 5px;top:0;line-height:45px}
.menu-mobile .content-menu-mobile .ct-mb .mn-lv1 .ul-lv2{padding-left:30px}
.menu-mobile .content-menu-mobile .ct-mb .mn-lv1 .ul-lv2 .mn-lv2{position:relative}
.menu-mobile .content-menu-mobile .ct-mb .mn-lv1 .ul-lv2 .mn-lv2>a{padding:10px 0px;display:block;color:#050505;text-transform:uppercase;font-size:14px}
.menu-mobile .content-menu-mobile .ct-mb .mn-lv1 .ul-lv2 .mn-lv2 .ul-lv3 .mn-lv3{padding:5px 0px;position:relative}
.menu-mobile .content-menu-mobile .ct-mb .mn-lv1 .ul-lv2 .mn-lv2 .ul-lv3 .mn-lv3>a{display:block;color:#737373;font-size:14px}
}
@media (max-width: 769px){header nav .mega-content{width:100%;padding:15px 15px 15px 30px;border:none}
header nav .mega-content .block_menu_left{width:100%}
header nav .mega-content .block_menu_left .level1.item{width:100%}
header nav .mega-content .block_image_right{width:100%}
}
@media (max-width: 767px){.joom-login{width:100% !important}
.joom-login form .tz-title-bold-3{padding:0px 10px !important}
.tzpage-default .tz-title-bold-3{padding:0px 10px !important;font-size:18px !important}
.cart-total{float:right !important;margin-left:0;display:inline-block}
.search-cart-list .cart-total .mini-cart-content{display:none !important}
.tzpagenavi-shop{margin:0px !important}
.mt-50{margin-top:30px !important}
.search-page-main .ip_search .button_src{padding:0px 10px !important}
.stl_search{margin-top:15px}
.tzpagenavi-shop a{color:#ccc;display:inline-block;font-family:'Roboto',sans-serif;font-size:16px;font-weight:400;line-height:30px !important;margin:0 0 0 10px;width:30px !important;height:30px !important;text-align:center;border:1px solid #ccc;background:#fff;transition:all .3s linear 0;-moz-transition:all .3s linear 0;-webkit-transition:all .3s linear 0;-ms-transition:all .3s linear 0;-o-transition:all .3s linear 0;text-decoration:none !important}
.tzpagenavi-shop ul li{margin:15px 3px !important;display:inline-block}
}
@media (max-width: 991px){.logo{display:inline-block;font-size:30px;line-height:65px}
.blog-item .blog-name{margin-top:20px !important}
}
@media (max-width: 543px){.topbar .a-left{display:none}
.topbar ul.list-inline.f-right{float:right !important}
.logo{display:block;font-size:20px}
.search.f-right{float:none;width:100%}
.header-search{margin-left:20px}
.header-top-bar .no-pad-left{width:20%}
.header-top-bar .no-pad-right{width:80%}
.cart-total ul li a span.cart-no{margin-left:-50px}
.menu-top-menu a{display:inline-block}
.menu-top-menu a:nth-child(2){margin-left:15px}
.menu-top-menu a:nth-child(1){margin-left:10px}
.header-search input[type="text"]{width:70% !important}
.header-search button{float:left !important}
}
@media (min-width: 481px) and (max-width: 767px){.wrp{overflow:hidden;margin-bottom:15px}
}
@media (max-width: 991px){.details-product .in-stock{min-width:120px !important;display:inherit !important;float:none !important;line-height:40px !important}
.product-thumb{border-right:none !important}
}
@media (min-width: 481px){.list-info .mbile{display:none}
}
@media (max-width: 480px){.list-info .m-pc{display:none}
.list-info .mbile .ic>img{float:left;margin-top:7px}
.wrp .font_wave{height:auto;width:30px;line-height:45px;text-align:center;border:none}
.wrp .text-policy p{font-weight:bold;font-size:15px;text-transform:uppercase;margin:0px;margin-top:0px;line-height:45px}
.wrp .text-policy span,.hd_mobile{display:none}
.copyright_warning{display:block;text-align:center}
.blo_mobile{display:block;text-align:center}
.method .a-right{text-align:center !important}
footer .list-info .ic{width:20px}
}
@media (min-width: 768px){.footer-widget ul{display:block !important}
}
@media (max-width: 767px){.breadcrumb-title{font-size:23px !important}
.footer-widget ul{display:none}
.footer-widget ul.list-info{display:block !important}
.new_title_color h2{font-size:21px !important}
.box_collection_pr .title_widget h2{margin-bottom:20px}
}
@media (max-width: 420px){.col-xs-6.footer-header{width:100%}
}
@media (max-width: 543px){.product-box .product-thumbnail>a{max-height:1000px;height:auto}
.product-box .product-thumbnail>a img{width:100% !important;height:auto !important}
}
@media (max-width: 430px){.collection p.title-head-info{position:static}
.collection h1.title-head{margin-bottom:5px}
}
@media (max-width: 320px){.pagination>li.page-item{display:none}
}
@media (max-width: 480px){.product-tab .tab-link{margin-right:10px}
}
@media (max-width: 375px){.sodiachi .btn.btn-50{width:100%;margin-bottom:10px}
}
@media (max-width: 768px){.quick-view{display:none !important}
}

