@font-face{font-family:"MuaThu";src:url(uvnmuathu.eot);src:url(uvnmuathu.eot#iefix) format("embedded-opentype"),url(uvnmuathu.woff) format("woff"),url(uvnmuathu.ttf) format("truetype"),url(uvnmuathu.svg) format("svg");font-weight:400;font-style:normal}
*:focus{outline:none}
.form-control:focus{border-color:inherit;-webkit-box-shadow:none;box-shadow:none}
.modal{z-index:999999}
.button_product{background:#fff;border:#bda87f 1px solid;color:#bda87f;-webkit-transition:all .25s ease-out;-moz-transition:all .25s ease-out;-o-transition:all .25s ease-out;-ms-transition:all .25s ease-out;transition:all .25s ease-out;display:inline-block;padding:10px 30px;border-radius:25px;position:relative;font-size:13px;height:35px;line-height:10px;font-weight:bold;text-transform:uppercase}
.button_product:hover{background:#bda87f;color:#fff}
.button_product_faild{background:#fff;border:#bda87f 1px solid;color:#bda87f;-webkit-transition:all .25s ease-out;-moz-transition:all .25s ease-out;-o-transition:all .25s ease-out;-ms-transition:all .25s ease-out;transition:all .25s ease-out;display:inline-block;padding:10px 30px;border-radius:25px;position:relative;font-size:13px;height:35px;line-height:10px;font-weight:bold;text-transform:uppercase}
.title-head{font-size:1.42857em;font-weight:700;color:#000;text-decoration:none}
.title-head a{color:#000}
.title-head a:hover{color:#bda87f}
.subtitle-head{font-size:1.28571em;color:#000;margin:20px 0}
.product-list-show .row{margin-bottom:15px;margin-left:0 !important;margin-right:0 !important}
.product-list .product-info{text-align:left}
.product-list .price-box .product-price-old,.product-list .price-box .product-price{font-size:20px;font-weight:100}
.product-box{text-align:center;margin-bottom:20px;background:#fff;position:relative;overflow:hidden}
.product-box:before{content:"";width:100%;height:100%;background:#fff;position:absolute;top:0;left:0}
.product-box:hover .product-thumbnail{cursor:pointer}
.product-box:hover .product-thumbnail:before{visibility:visible;-webkit-transform:scale(1, 1);-ms-transform:scale(1, 1);transform:scale(1, 1)}
.product-box:hover .product-thumbnail:after{visibility:visible;-webkit-transform:scale(1, 1);-ms-transform:scale(1, 1);transform:scale(1, 1)}
.product-box .product-thumbnail{display:-webkit-flex;-webkit-align-items:center;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;position:relative}
.product-box .product-thumbnail:before{content:"\f002";font-family:FontAwesome;color:#666;display:block;position:absolute;top:50%;left:50%;text-align:center;width:50px;height:50px;line-height:50px;margin-top:-25px;margin-left:-25px;background:#fff;border-radius:50%;z-index:2;-webkit-transition:all ease .25s;transition:all ease .25s;visibility:hidden;-webkit-transform:scale(0, 0);-ms-transform:scale(0, 0);transform:scale(0, 0)}
.product-box .product-thumbnail:after{content:"";display:block;position:absolute;top:0;bottom:0;left:0;right:0;background:rgba(0,0,0,0.1);border:1px solid #000;z-index:1;-webkit-transition:all ease .25s;transition:all ease .25s;visibility:hidden;-webkit-transform:scale(0, 0);-ms-transform:scale(0, 0);transform:scale(0, 0)}
.product-box .product-thumbnail>a{display:block;width:100%;text-align:center}
.product-box .product-thumbnail a img{width:auto;-webkit-flex:1;-ms-flex:1;flex:1;max-width:100%;max-height:100%;margin:0 auto}
.product-box .product-thumbnail a img.bethua{width:100%;height:auto}
.product-box .product-info{z-index:10;position:relative;padding-bottom:10px}
.product-box .product-name{font-size:16px;line-height:24px;color:#000;font-weight:300}
.product-box .product-name a{text-decoration:none;color:#363636;font-weight:bold}
.product-box .product-name a:hover{color:#74fe46;text-decoration:none}
.product-box .price-box{display:inline-block;text-align:center}
.product-box .product-price{margin:0px 5px;color:#74fe46;font-size:16px;line-height:24px;font-weight:400;display:inherit}
.product-box .product-price-old{margin:0px 5px;text-decoration:line-through;font-size:13px;line-height:24px;color:#888;font-weight:bold}
.product-box .product-summary{font-size:14px;color:#acacac;line-height:20px;margin-bottom:20px}
.product-box form{-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);-webkit-transform:scale(1);transform:scale(1)}
.product-price{color:#323c3f;font-size:1.42857em;line-height:24px;display:block;font-weight:700}
.products-view-list .product-box .product-thumbnail{text-align:center;margin-bottom:0;width:calc(100% / 3);float:left}
.products-view-list .product-box .product-info{text-align:left;margin-left:30px;float:left;width:calc(100% / 3 * 2 - 30px);background:transparent;border-top:none}
.bg-breadcrumb{background-attachment:fixed;background-size:cover;position:relative;padding-top:85px;padding-bottom:75px}
.bg-breadcrumb:after{content:"";display:block;position:absolute;top:0;bottom:0;left:0;right:0;background:rgba(0,0,0,0.5);z-index:1}
.bg-breadcrumb .container{position:relative;z-index:2}
.breadcrumb{padding:0;margin-bottom:0;list-style:none;background-color:transparent;border-radius:4px;text-align:center}
.breadcrumb>li{display:inline-block}
.breadcrumb>li+li:before{content:"\f105";padding:0 5px;font-family:fontAwesome;color:#fff}
.breadcrumb>li>a:hover,.breadcrumb>li>a:focus{text-decoration:underline}
.breadcrumb>li>a{color:#fff;font-family:"Open Sans",sans-serif;text-shadow:0 1px 1px #000;font-size:16px}
.breadcrumb>.active{color:#74fe46;font-size:16px;text-shadow:0 1px 1px #000}
.breadcrumb>.active>a{color:red;font-size:16px;text-shadow:0 1px 1px #000}
.breadcrumb-title{color:#fff;text-align:center;font-size:48px;font-weight:normal;margin-top:0px;margin-bottom:0;text-shadow:0 1px 1px #000;font-family:sans-serif}
ul.pagination li>a{border:none;padding:0;margin:0 5px;color:#888;position:relative}
.collection-pagination ul.pagination li>span{border:none;padding:0;margin:0 5px;color:#888;position:relative;background:none}
.collection-pagination ul.pagination li.active>span{color:#ed3535}
.collection-pagination ul.pagination li>span:hover{background:none !important;color:#888}
.collection-pagination ul.pagination li.active>span:hover{color:#ed3535}
.collection-pagination ul.pagination li a:hover{color:#888 !important;background:none !important;text-decoration:none !important}
.mr20{margin-right:20px !important}
.collection-pagination ul.pagination{margin-top:13px}
.collection-pagination.pagination-wrapper span{float:left;margin-right:0}
.pagination-wrapper{color:#888}
.pagination-wrapper span{float:left;margin-right:20px}
ul.pagination{display:inline-block;margin:0}
ul.pagination li>a{border:none;padding:0;margin:0 5px;color:#888;position:relative}
ul.pagination li>a:after{content:"";display:none;position:absolute;bottom:0;left:0;right:0;border-bottom:1px solid #888}
ul.pagination li>a:hover{background:transparent}
ul.pagination li:hover>a,ul.pagination li.active>a{background:#cd3535 !important;border-color:#cd3535 !important;color:#fff !important;cursor:pointer !important;border-radius:0}
.collection-pagination .pagination>li>a:focus{background:#fff !important;border-color:#fff !important;color:#888 !important;cursor:pointer !important;border-radius:0}
ul.pagination li:hover>a:hover,ul.pagination li:hover>a:focus,ul.pagination li.active>a:hover,ul.pagination li.active>a:focus,ul.pagination li:focus>a:hover,ul.pagination li:focus>a:focus{background:transparent;color:#888}
ul.pagination li:hover>a:after,ul.pagination li.active>a:after,ul.pagination li:focus>a:after{display:block}
ul.pagination-blog>li{margin-right:10px;display:inline-block;border:1px solid #ddd}
ul.pagination-blog>li>a{padding:0;margin:0;text-align:center;height:40px;width:40px;line-height:40px}
ul.pagination-blog>li.active>a{background:#cd3535;border-color:#cd3535;border-radius:0;color:#fff}
ul.pagination-blog>li:hover>a:after,ul.pagination-blog>li.active>a:after{display:none}
header{background:#fff}
.topbar{background:#252525;text-align:center;height:45px;line-height:45px;border-bottom:1px solid #f2f2f2}
.topbar .list-inline li{margin-right:15px}
.topbar .head_link{font-size:13px;border-right:1px solid #ddd;padding-left:15px;padding-right:15px;cursor:pointer;color:#bda87f}
.topbar .head_link a{color:#bda87f}
.topbar .head_link:last-child,.topbar .head_link a#dLabel{border:none}
.topbar .head_link:hover{color:#bda87f;text-decoration:none}
.topbar .head_link:hover a{text-decoration:none}
.topbar .phone_head{padding-left:0px}
.topbar a#dLabel2{padding-right:0px}
.header-main{padding-top:35px;padding-bottom:30px}
.wrp .font_wave{display:block;float:left;height:65px;width:65px;line-height:65px;text-align:center;border:1px solid #eee;border-radius:50%;color:#666;font-size:22px;margin-right:10px;-webkit-transition:all ease .25s;transition:all ease .25s}
.wrp .font_wave:hover{border-color:#74fe46}
.wrp .font_wave:hover .fa{color:#74fe46}
.wrp .text-policy{display:block;float:left}
.wrp .text-policy p{font-weight:bold;font-size:15px;text-transform:uppercase;margin:0px;margin-top:10px}
.wrp .text-policy span{color:#888;font-size:12px;line-height:20px}
.logo{display:inline-block;font-size:2.85714em}
.header_search{padding:10px 0 15px}
.header_search input{float:right}
.header_search .input-group-btn{position:absolute;right:0;top:0;width:45px}
.header_search .input-group{width:100%;margin-bottom:0}
.header_search button{padding:0;width:45px;background:transparent}
.header_search button img{margin-top:6px}
.searchsmall{display:inline-block;line-height:52px;position:absolute;right:40px;z-index:9}
.searchsmall .showsearchfromtop{padding:15px;text-align:center;line-height:60px}
.searchsmall .showsearchfromtop .fa{color:#bda87f;font-size:16px}
.searchsmall .showsearchfromtop:hover{cursor:pointer}
.searchboxlager{display:block;position:relative}
.searchboxlager .searchfromtop{z-index:3;display:none;border-radius:0;z-index:999999;position:absolute;top:52px;right:0 !important;width:320px;float:right !important;margin-right:0;margin-left:auto}
.searchboxlager .searchfromtop form{margin-bottom:0px}
.searchboxlager .searchfromtop form input{height:52px;margin-bottom:0px;padding-bottom:0px}
.searchboxlager .searchfromtop a.hidesearchfromtop,.searchboxlager .searchfromtop a.showsearchfromtop{cursor:pointer}
.searchboxlager .searchfromtop a.hidesearchfromtop{position:absolute;top:15px;right:15px;padding:5px 12px;text-indent:-9999px;text-indent:-9999px;background:url(close.png);background-size:25px 25px;background-repeat:no-repeat}
.searchboxlager .searchfromtop a.hidesearchfromtop:hover{background:url(closehv.png);background-size:25px 25px;background-repeat:no-repeat}
.search-cart-list .cart-total .mini-cart-content{background:#fff none repeat scroll 0 0;box-shadow:0 1px 5px rgba(0,0,0,0.15);opacity:0;padding:25px 0px;position:absolute;right:-17px;top:100%;transform:scaleY(0);transform-origin:0 0 0;transition:all .5s ease 0;width:300px;z-index:-99}
.search-cart-list .cart-total .mini-cart-content .list-item-cart{max-height:300px;overflow:auto;padding:0px 25px}
.search-cart-list .cart-total .mini-cart-content .list-item-cart::-webkit-scrollbar{width:5px}
.search-cart-list .cart-total .mini-cart-content .list-item-cart::-webkit-scrollbar-track{background:rgba(255,255,255,0.9)}
.search-cart-list .cart-total .mini-cart-content .list-item-cart::-webkit-scrollbar-thumb{background:#bda87f;border-radius:15px}
.search-cart-list .cart-total .mini-cart-content .list-item-cart::-webkit-scrollbar-thumb:hover,.search-cart-list .cart-total .mini-cart-content .list-item-cart::-webkit-scrollbar-thumb:active{background:#bda87f;border-radius:15px}
.search-cart-list .cart-total .mini-cart-content .actions{display:block;width:100%;overflow:hidden;text-align:right;padding:0px 25px}
.search-cart-list .cart-total .mini-cart-content .actions .btn-view-cart{display:inherit;width:60%;text-align:center;background:#777;line-height:45px;float:right;font-size:14px;color:#fff}
.search-cart-list .cart-total .mini-cart-content .actions .btn-view-cart:hover{background:#74fe46;color:#fff}
.heading-cart .cart-ico .count_item_pr{position:absolute;right:0;height:22px;width:22px;line-height:22px;text-align:center;background:#bda87f;border-radius:50%;color:#fff;top:12px}
.mini-cart{z-index:10;text-align:center}
.mini-cart:hover .top-cart-content{display:block}
.mini-cart .dropdown-toggle{font-size:12px;padding:0;text-transform:none}
.top-cart-contain{color:#333;padding:0;right:0;z-index:1000;line-height:52px}
.top-cart-contain .price{color:#bda87f}
.top-cart-contain .mini-cart .price{color:#c00;font-size:14px;font-family:Roboto,sans-serif;font-weight:300;line-height:18px;display:block}
.top-cart-contain .color-main{color:#74fe46}
.top-cart-contain .product-details .price{color:#bda87f;width:auto;float:none;font-weight:400;padding-left:0;font-size:12px}
.top-cart-content{display:none;position:absolute;top:52px;right:0;background:#fff;padding:0;text-align:left;box-shadow:0 0 15px -5px rgba(0,0,0,0.4);z-index:10000;border:solid 1px #bda87f;line-height:18px}
.top-cart-content .arrow_top{width:0;height:0;border-style:solid;border-width:0 9.5px 10px 9.5px;border-color:transparent transparent #bda87f transparent;position:absolute;top:-10px;right:15px}
.top-cart-content .list-item-cart{max-height:215px;overflow:auto}
.top-cart-content .list-item-cart::-webkit-scrollbar{width:5px}
.top-cart-content .list-item-cart::-webkit-scrollbar-track{background:rgba(255,255,255,0.9)}
.top-cart-content .list-item-cart::-webkit-scrollbar-thumb{background:#74fe46;border-radius:15px}
.top-cart-content .list-item-cart::-webkit-scrollbar-thumb:hover,.top-cart-content .list-item-cart::-webkit-scrollbar-thumb:active{background:#74fe46;border-radius:15px}
.top-cart-content .empty{text-align:left;color:#333}
.top-cart-content .product-name{margin:0;width:150px;line-height:1;padding-right:10px;text-overflow:ellipsis;overflow:hidden}
.top-cart-content .product-name a{font-size:14px;line-height:normal;line-height:18px !important;font-weight:300;color:#333}
.top-cart-content .product-name:hover a{color:#74fe46;text-decoration:none}
.top-cart-content li{list-style:none}
.top-cart-content li.item{margin-bottom:15px;overflow:hidden;position:relative}
.top-cart-content li.item:first-child{border-top:none;padding-top:10px}
.top-cart-content li.item:last-child{margin:0;border-bottom:none}
.top-cart-content li.item .product-image{float:left;display:block;width:70px;margin-right:10px}
.top-cart-content li.item .detail-item{padding-left:85px}
.top-cart-content li.item .detail-item .fa{position:absolute;right:5px;font-size:13px}
.top-cart-content li.item .detail-item input{display:inline-block;width:45px;padding:0;text-align:center}
.top-cart-content li.item .detail-item button.items-count{display:inline-block}
.top-cart-content .block-subtitle{color:#333;overflow:hidden;padding:15px;text-align:left;font-family:'Open Sans', sans-serif;font-size:.92857em;background:#f5f5f5;text-transform:none;font-weight:400;border-bottom:1px #ddd solid}
.top-cart-content .actions .btn-view-cart{padding:3px 20px;background:#74fe46;color:#fff;font-size:14px;font-family:Roboto ,sans-serif;font-weight:100;border-radius:20px}
.top-cart-content .actions .btn-view-cart:hover{border-radius:0px;text-decoration:none}
.top-subtotal{border:medium none;color:#000;float:left;font-family:'Roboto',sans-serif;font-size:14px;font-weight:700;line-height:40px;margin:0 0 15px;padding:0 25px;text-align:right;text-transform:uppercase;width:100%}
.top-subtotal .price{float:right;font-size:14px;color:#bda87f;margin-left:10px}
ul#cart-sidebar{padding:15px;margin:0;width:290px}
ul#cart-sidebar li.list-item{max-height:400px;overflow-y:auto}
ul#cart-sidebar li.action{display:none}
ul#cart-sidebar.hasclass li.action{display:block}
ul#cart-sidebar li.list-item .price2{font-weight:700;color:#f94e3f;font-size:14px;display:list-item;margin-bottom:5px}
.li-fix-1{background:#FFF;border-top:1px solid #ebebeb;display:block}
.li-fix-2{display:block;width:295px}
.header-nav{border-top:1px solid #f2f2f2;background:#fff}
header nav{background:#fff}
header nav .nav{position:relative}
header nav .nav-item{float:left;position:relative}
header nav .nav-item.active{background:#74fe46}
header nav .nav-item.active>a{color:#fff}
header nav .nav-item.has-mega{position:static}
header nav .nav-item>a{line-height:32px;text-transform:uppercase;font-weight:bold;color:#bda87f}
header nav .nav-item>a:hover{color:#000}
header nav .nav-item:hover a{background-color:#fff}
header nav .nav-item:hover a>.arrow{opacity:1}
header nav .nav-item>.fa{color:#fff;position:absolute;right:0;top:33px}
header nav .nav-item .arrow{position:absolute;background:#f1f1f1;border:1px solid #fff;z-index:99999;bottom:-2px;left:45%;opacity:0}
header nav .nav-item .arrow:after,header nav .nav-item .arrow:before{bottom:100%;left:50%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none}
header nav .nav-item .arrow:after{border-color:rgba(241,241,241,0);border-bottom-color:#f1f1f1;border-width:8px;margin-left:-8px}
header nav .nav-item .arrow:before{border-color:rgba(221,0,0,0);border-bottom-color:#dd0000;border-width:9px;margin-left:-9px}
header nav .nav-item .nav-item-lv2{padding:0 10px}
header nav .nav-item .nav-item-lv3{padding:0 10px}
header nav .nav-item:hover>.dropdown-menu{display:block;margin-top:0;border:solid 1px #74fe46;border-radius:0px;width:190px;padding:5px 0px 0px}
header nav .nav-item:hover>.dropdown-menu li{padding:0px 10px}
header nav .nav-item:hover>.dropdown-menu li>a{display:block;padding:5px 0px;border-bottom:dashed 1px #ddd;margin:5px 0px}
header nav .nav-item:hover>.dropdown-menu li>a .fa{float:right;line-height:18px;font-size:16px}
header nav .nav-item:hover>.dropdown-menu li:last-child>a{border-bottom:0px}
header nav .nav-item:hover>.dropdown-menu li:hover>a{background-color:#fff;color:#bda87f}
header nav .nav-item:hover>.dropdown-menu li:hover>a .fa{color:#74fe46}
header nav .nav-item:hover>.mega-content{display:block}
header nav .nav-item li.dropdown-submenu{position:relative}
header nav .nav-item li.dropdown-submenu .dropdown-menu{display:none;margin-top:-1px;border:solid 1px #74fe46;border-radius:0px;width:190px;padding:5px 0px 0px;left:100%;top:-10px}
header nav .nav-item li.dropdown-submenu .dropdown-menu li{padding:0px 10px}
header nav .nav-item li.dropdown-submenu .dropdown-menu li>a{display:block;padding:5px 0px;border-bottom:dashed 1px #ddd;margin:5px 0px}
header nav .nav-item li.dropdown-submenu .dropdown-menu li>a .fa{float:right;line-height:18px;font-size:16px}
header nav .nav-item li.dropdown-submenu .dropdown-menu li:last-child>a{border-bottom:0px}
header nav .nav-item li.dropdown-submenu .dropdown-menu li:hover>a{background-color:#fff;color:#bda87f}
header nav .nav-item li.dropdown-submenu .dropdown-menu li:hover>a .fa{color:#74fe46}
header nav .nav-item li.dropdown-submenu:hover>.dropdown-menu{display:block;border-radius:0px}
header nav .mega-content{display:none;position:absolute;width:1150px;background:#fff;z-index:100;padding:30px;border:1px solid #74fe46;left:0px}
header nav .mega-content .level1.item{float:left;width:33%;padding:0 5px}
header nav .mega-content .level1.item .h4{font-size:14px;margin:0px;padding:10px 0px;text-transform:uppercase}
header nav .mega-content .level1.item .h4>a{display:block}
header nav .mega-content .level1.item .level2,header nav .mega-content .level1.item .level3{padding:10px 0px}
header nav .mega-content .level1.item .level2>a,header nav .mega-content .level1.item .level3>a{color:#737373;display:block;line-height:20px}
header nav .mega-content .level1.item .level2:hover a,header nav .mega-content .level1.item .level3:hover a{color:#74fe46;text-decoration:none}
header nav .mega-content .block_menu_left{width:50%;display:block;float:left}
header nav .mega-content .block_image_right{width:50%;display:block;float:left}
.laster-shop-item{margin-bottom:15px}
@media (max-width: 767px){.footer-middle-area{padding:60px 0 20px !important}
}
footer{background:#747474;position:relative;overflow:hidden}
footer .footer-widget h2{font-size:18px;color:#747474;text-transform:uppercase;margin-bottom:20px;display:block}
footer .footer-widget h2 span{display:block}
footer .footer-widget h2:hover{cursor:pointer}
footer .footer-widget p{font-size:16px}
footer .footer-widget p.hotline{font-size:2em;font-weight:700;margin-bottom:15px;margin-top:-8px}
footer .footer-widget p.hotline a:hover{color:#bda87f}
footer .footer-widget form{position:relative}
footer .footer-widget form input{height:50px;-webkit-border-radius:5px;border-radius:5px;font-size:1.14286em}
footer .footer-widget form button{position:absolute;right:0;background:transparent;border:none;line-height:50px;font-size:2.14286em;color:#a6a6ad;padding-right:10px}
footer .list-inline .fa{margin-right:20px;font-size:2.14286em}
footer .list-inline .fa:hover{color:#bda87f}
footer .site-footer h3{position:relative;color:#747474;margin:0;padding:13px 0;font-size:1.28571em}
footer .list-menu{margin-bottom:15px}
footer .list-menu span{line-height:30px}
footer .list-menu a{line-height:35px;color:#747474;position:relative}
footer .list-menu a:before{content:"";display:none;position:absolute;top:46%;left:0;width:3px;height:3px;background:#74fe46}
footer .list-menu a:hover{color:#74fe46;padding-left:10px;text-decoration:none}
footer .list-menu a:hover:before{display:block}
footer .list-menu li{color:#747474}
footer .list-menu.contact .fa{width:20px;margin-right:5px;color:#bda87f}
footer .list-info li{display:inline-block;width:100%;margin-bottom:10px}
footer .list-info .ic{text-align:left;display:block;float:left}
footer .list-info span{line-height:23px;display:block;float:left;width:calc(100% - 40px);margin-left:10px;color:#959595}
footer .list-info .tx{line-height:23px;float:left;margin-left:10px}
footer .copyright{line-height:40px;text-align:center;color:#747474;font-size:14px;position:relative;border-top:1px solid #252525}
footer .copyright a{font-weight:400;color:#747474}
footer .copyright a:hover{color:#74fe46;text-decoration:none}
footer .copyright_warning{padding:0px;margin:0px}
footer .method{padding:20px 0px;overflow:hidden}
footer .method .mth span{margin-left:15px}
footer .social-icons li{margin-right:10px}
footer .back-to-top{position:absolute;right:10px;bottom:10px;font-size:30px;color:#000;line-height:1;cursor:pointer}
footer .back-to-top.show{position:fixed;right:10px;bottom:10px}
footer form{position:relative}
footer form button#subscribe{position:absolute;right:0}
.widget-menu{overflow:hidden}
.widget-menu li{overflow:hidden}
.widget-menu li i{width:15px;display:block;float:left;margin-top:2px;margin-left:2px}
.widget-menu li a{display:block;line-height:0px;padding-left:15px}
@media (max-width: 767px){.copyright-info .mobile{display:block;text-align:center}
}
.des_content img{display:none}
.mt-40{margin-top:40px}
.mt-50{margin-top:50px}
.product-detail-banner-item.img-responsive img{width:100%;height:auto}
.product-detail-banner-item{margin-bottom:30px}
.product-detail-banner-item:first-child{margin-top:30px}
.em-effect06{position:relative;z-index:1;text-align:center}
.em-effect06 a{position:relative;overflow:hidden;z-index:0;display:block;vertical-align:top;max-width:100%}
.em-effect06 a:after{content:'';position:absolute;z-index:1;width:100%;height:0;top:0;left:0;-moz-transition:all 500ms ease;-webkit-transition:all 500ms ease;-o-transition:all 500ms ease;transition:all 500ms ease;-moz-backface-visibility:hidden;-webkit-backface-visibility:hidden;backface-visibility:hidden;background:rgba(0,0,0,0.18)}
.em-effect06 .em-eff06-03:after{height:100%;bottom:0;-webkit-transform:scaleX(0);transform:scaleX(0)}
.em-effect06 .em-eff06-03:hover:after{-webkit-transform:scaleX(1);transform:scaleX(1)}
.opacity-img img:hover{opacity:.75}
.opacity-img img{opacity:1;-webkit-transition:opacity ease .25s;-ms-transition:opacity ease .25s;transition:opacity ease .25s}
.details-pro .product-price>del{color:#cdcdcd;font-size:18px;font-weight:300}
.details-pro .product-description{margin-top:15px;padding-bottom:15px;border-bottom:1px solid #ccc;white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word}
.product-thumb{min-height:400px}
.product-thumb .featured-image{max-width:350px;margin-left:100px}
@media screen and (max-width: 580px){.product-thumb .more-views{max-width:60px;left:15px !important;top:0px !important;padding-top:0px !important;max-height:360px !important}
.product-thumb .featured-image{height:auto !important;overflow:hidden;min-height:260px !important}
}
@media screen and (min-width: 992px) and (max-width: 1199px){.product-thumb .more-views{max-width:80px !important;right:15px !important;top:0px !important;padding-top:0px !important;max-height:300px !important}
.product-thumb .product-big-wrapper{margin-right:140px}
}
@media screen and (min-width: 1200px){.product-thumb .more-views{right:15px !important;max-height:400px !important}
}
.product-thumb .more-views{max-width:100px;height:auto;position:absolute !important;right:15px;top:0;min-height:250px;z-index:0}
.product-thumb .more-views:hover .swiper-button-next,.product-thumb .more-views:hover .swiper-button-prev{opacity:1}
.product-thumb .more-views .swiper-button-next,.product-thumb .more-views .swiper-button-prev{position:absolute;width:13px;height:30px;margin-top:-22px;z-index:10;cursor:pointer;-moz-background-size:27px 44px;-webkit-background-size:27px 44px;background-size:15px 44px;background-position:center;background-repeat:no-repeat;opacity:0}
.product-thumb .more-views .swiper-button-next{top:15px;-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-o-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg);left:45%}
.product-thumb .more-views .swiper-button-prev{top:100%;-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-o-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg);left:45%}
.product-thumb .more-views .swiper-wrapper .br-slide{border:solid thin #ddd;max-height:100px;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;height:auto !important}
@media screen and (min-width: 1200px){.product-thumb .more-views .swiper-wrapper .br-slide{padding:10px 0px;overflow:hidden;height:auto !important}
}
@media screen and (max-width: 1199px){.product-thumb .more-views .swiper-wrapper .br-slide{padding:10px 0px;overflow:hidden}
}
.product-thumb .more-views .swiper-wrapper img{width:auto;max-width:100%;display:inline-block}
@media (min-width: 992px){.details-product .in-stock{position:absolute;right:0px;top:0px}
}
.details-product .title-head{color:#000;font-size:28px;text-transform:uppercase;font-weight:400;margin-bottom:15px;margin-top:0}
.details-product #gallery_01{margin-top:15px}
.details-product .owl-carousel.owl-loaded{overflow:hidden}
.details-product .in-stock{display:inline-block;float:right;line-height:45px}
.details-product .details-pro .product-price{font-size:29px;color:#f26522;font-weight:300;position:relative;display:inline-block}
.details-product .details-pro .price-box{position:relative}
.details-product .details-pro .price-box del{color:#cdcdcd;font-size:18px;font-weight:300;margin-left:15px}
.details-product .details-pro .in-stock span{font-size:13px;text-transform:uppercase;background:#fff;color:#f26522;padding:5px 10px;border-radius:3px;font-weight:400;margin:0;border:1px solid #f26522}
.details-product .details-pro .product_description{margin-top:15px;padding-bottom:15px;border-bottom:1px solid #ccc}
.details-product .details-pro .custom-btn-number{position:relative;padding:0;margin-bottom:20px;border:none;box-shadow:none;height:auto}
.details-product .details-pro .custom-btn-number label{font-size:14px}
.details-product .details-pro .custom-btn-number .product-qty{width:220px;height:40px;border-radius:20px;text-align:center}
.details-product .details-pro .custom-btn-number .qtyminus{position:absolute;left:25px;top:4px;font-size:1.42857em}
.details-product .details-pro .custom-btn-number .qtyplus{position:absolute;right:25px;top:4px;font-size:1.42857em}
.none{display:none}
.product-tab .border-dashed-tab{display:block;padding:2px 0px;border:dashed 1px #ebebeb;border-left:0px;border-right:0px}
.product-tab .tabs-title{border-bottom:solid 1px #ebebeb;margin-bottom:0px}
.product-tab .tab-link{margin-right:30px;position:relative;display:inline-block}
.product-tab .tab-link h4{display:inline-block;font-family:'Roboto',sans-serif;font-size:16px;font-weight:400;line-height:30px;text-decoration:none;text-transform:uppercase;padding:20px 30px}
.product-tab .tab-link h4 span{color:#363636}
.product-tab .tab-link:first-child h4{padding:20px 30px 20px 0px}
.product-tab .tab-link span{color:#959595;font-weight:300;font-size:17px}
@media (min-width: 768px){.product-tab .tab-link.current{border-bottom:solid 4px #bda87f}
}
.product-tab .tab-link.current h4{font-family:'Roboto',sans-serif;font-size:16px;font-weight:400;line-height:30px;text-decoration:none;text-transform:uppercase}
.product-tab .tab-link.current h4 span{color:#bda87f}
.product-tab .tab-link.current .rte{color:#001018;font-weight:300;font-size:14px}
.product-tab li:last-child h4 span:after{content:none}
.product-tab .tab-content{display:none}
.product-tab .tab-content.current{padding:20px;min-height:200px;display:block}
@media (min-width: 1200px){.product-tab .tab-content.current .rte{color:#001018;font-weight:300;font-size:14px}
}
@media (max-width: 767px){.product-tab .tab-link{width:100%;border:none;padding:0;margin-bottom:10px !important;background:#fff}
.tab-content-mobile{display:none}
.product-tab .tab-link.current h4{border:0px}
.current .tab-content-mobile{display:block;padding:0px 10px;border:1px solid #e1e1e1;border-top:none;background:#fff}
.current .tab-content-mobile .rte{padding:10px 0px;border-bottom:0px}
ul.tabs.tabs-title{display:block;border:none;width:100%;background:none !important}
.product-tab .tab-link:first-child h3{padding:10px}
.product-tab .tab-link h4{border:1px solid #ebebeb;padding:10px 10px !important;margin-top:0;position:relative;display:block}
.product-tab .tab-link h4:before{content:'\f107';font-size:20px;font-family:FontAwesome;float:right;margin-right:0;margin-top:-3px}
.product-tab .tab-link.current .tab-content-mobile{margin-bottom:0px}
.product-tab .tab-link.current h4{margin-bottom:0;border-bottom:none;border:solid 1px #ebebeb}
.product-tab .tab-link span:after{content:none}
.product-tab .border-dashed-tab{margin-bottom:15px}
}
.tab-content .bizweb-product-reviews #bizweb-product-reviews-sub .product-reviews-summary-actions #btnnewreview,.tab-content-mobile .bizweb-product-reviews #bizweb-product-reviews-sub .product-reviews-summary-actions #btnnewreview{padding:5px 10px;width:100%;margin-top:10px;border:0;background:#bda87f;color:#fff;border-radius:20px}
@media (max-width: 767px){.tab-content-mobile .bizweb-product-reviews #bizweb-product-reviews-sub .product-reviews-summary-actions #btnnewreview{padding:5px 10px;width:100%;margin-top:10px;border:0;background:#bda87f;color:#fff;border-radius:20px;font-size:14px}
#bizweb-product-reviews{padding-top:5px}
}
.form-product form .form-group{padding-bottom:0px}
.form-product form .form-group .selector-wrapper label{display:block;font-weight:400;text-transform:uppercase;padding:5px 0}
.form-product form .form-group .selector-wrapper select{min-width:220px;border-radius:20px}
.form-product form .form-groupx .form-control{box-shadow:none}
.form-product form .form-groupx .form-control label{display:block;font-weight:400;text-transform:uppercase;padding:5px 0}
.form-product form .form-groupx .btn-buy{border-radius:20px;display:block;border:solid 1px #ddd;background:none;font-size:13px;font-weight:bold;text-transform:uppercase;min-width:220px;color:#bda87f}
.form-product form .form-groupx .btn-buy:hover{background:#bda87f;color:#fff;border-color:#bda87f}
.product-thumb{position:relative;border-right:1px solid #eee}
.product-thumb:hover .slick-prev,.product-thumb:hover .slick-next{visibility:visible;opacity:1}
.product-thumb:hover .slick-prev{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
.product-thumb:hover .slick-next{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
.product-big-wrapper{margin-right:130px !important;padding-right:30px;border-right:1px solid #eee}
.product-small-wrapper{position:absolute;top:0;bottom:0;right:0;width:113px;margin-right:30px}
#recently-viewed-products .image{float:left;width:90px;margin-right:10px}
#recently-viewed-products .info{width:calc(100% - 100px);float:right}
.zoomWrapper{width:100% !important;height:auto !important}
.zoomWrapper img{position:static !important;width:100% !important;height:auto !important}
.zoomWrapper img ~ img{display:none !important}
.mt-80{margin-top:80px}
.mt-40{margin-top:40px}
.page-collection{margin-top:80px}
@media (min-width: 1200px){.product-grid-show .col-lg-4:nth-child(3n+1){clear:left}
}
@media (min-width: 992px) and (max-width: 1199px){.product-grid-show .col-md-4:nth-child(3n+1){clear:left}
}
@media (min-width: 768px) and (max-width: 991px){.product-grid-show .col-sm-6:nth-child(2n+1){clear:left}
}
@media (max-width: 767px){.product-grid-show .col-xs-12:nth-child(1n+1){clear:left}
}
.view-mode{display:inline-block}
.sortb{display:inline-block;margin-left:50px}
.sortb form{margin-bottom:0px}
.sortb form .form-group{padding-bottom:0px}
.sortb form .form-group span{color:#888}
.sortb form .form-control{display:inline-block;width:auto;box-shadow:none}
.sortb form select{border:none;color:#888}
.sort{min-width:auto !important}
button .dropdown-toggle{border-radius:20px;padding:10px 25px 7px}
.filter-item{line-height:40px;min-width:auto !important}
.filter-item select{width:auto;border:none;display:inline-block}
.filter-item .filter-option{overflow:visible !important}
.filter-item .btn-default{border:none !important;color:#888;margin-top:-5px}
.filter-item{float:right;margin-left:50px;color:#888}
.view-mode span{font-size:0}
.button-view-mode{padding:0;margin:0;font-size:22px}
.button-view-mode .fa{color:#ddd}
.button-view-mode.active{box-shadow:none;color:#000}
.button-view-mode.active a{color:#000}
.button-view-mode.active .fa{color:#000}
.sortPagiBar{border:solid 1px #ddd;padding:0px 20px}
.filter-right{border:1px solid #ddd;line-height:40px;padding-right:15px;display:inline-block;width:100%}
.filter-right .pull-left{width:100% !important}
.filter-item:nth-of-type(1){float:left;margin-left:5px}
.product-filter button{background:none;border:none;font-size:22px;padding:0 5px;color:#ddd}
.product-filter button .fa{color:#ddd}
.product-filter button.active .fa{color:#444}
.button-group{height:40px;overflow:hidden;width:100px;float:left;margin-left:10px}
.widget_bestsellers ul li .as_bestsellers_thumb{float:left;width:80px;overflow:hidden;display:block}
.as_bestsellers_content{padding-left:15px !important;display:block;float:left;width:calc(100% - 100px)}
@media (max-width: 991px){.as_bestsellers_content{padding-left:0px !important;display:block;float:left;width:calc(100% - 100px)}
.tzblog-wrap .row.flx{display:flex;flex-direction:column}
.tzblog-wrap .row.flx #cate{order:2}
.tzblog-wrap .row.flx #list_blg{order:1}
.tzblog-wrap .row.flx #cate_atc{order:2}
.tzblog-wrap .row.flx #content_atc{order:1}
.tzblog-wrap .row.flx #content_atc .tzpost-content{padding:0px}
}
@media (max-width: 767px){.tag_article{width:100% !important}
.social-media{width:100% !important}
.social-media ul{text-align:left !important}
}
.blog-item{overflow:hidden;margin-bottom:15px}
.blog-item .date{position:absolute;background:#bda87f;text-align:center;color:#fff;padding:3px 10px;z-index:10}
.blog-item .date span{display:block;line-height:45px}
.blog-item .date span ~ span{overflow:hidden;border-top:1px solid #fff}
.blog-item-name{font-weight:700;position:relative;font-size:1.14286em;margin:0}
.blog-item-name a{color:#000}
.blog-item-name .fa{position:absolute;left:0;top:9px;font-size:11px;color:#bda87f}
.blog-item-summary{font-size:1em;margin-bottom:0}
.blog-item-thumbnail{position:relative}
.list-blogs .blog-item{margin-bottom:25px}
.searchpadding form .input-group-btn button{line-height:24px;padding:10px 20px}
.searchpadding form .input-group-btn button .fa{font-size:18px;line-height:24px}
.widget-sidebar-menu li a{display:block}
.widget-sidebar-menu li em{position:absolute;right:0px;padding:0px 5px;top:0;line-height:45px}
.article-main .article-title{font-size:1.71429em;line-height:1.92857em;margin:15px 0 8px}
.article-main .postby{font-size:1.14286em;line-height:1.71429em;color:#676767;margin-bottom:10px}
.article-main .article-content{font-size:1.14286em}
.article-main .form-group{margin:0;padding-top:0;padding-bottom:8px}
.section-article .section-comments{width:100%}
.section-article .section-comments .comment-item .media-body{display:block;float:left;width:calc(100% - 100px)}
#article-comments{margin-top:30px}
#article-comments .article-comment{margin-bottom:10px}
#article-comments .article-comment-user-image{margin:0;float:left;width:50px;margin-right:12px}
#article-comments .article-comment-user-comment{padding-left:63px;font-size:1em}
#article-comments .user-name-comment{margin:0;color:#bda87f;font-size:18px;line-height:1}
#article-comments .article-comment-date-bull{padding:5px 0;display:block;color:#acacac}
.form-comment .form-group label{float:left}
.form-comment .btn-cmt{font-weight:bold;border-radius:20px;color:#959595;background:#fff;margin-left:115px;min-width:120px;border:solid 1px #ddd}
.form-comment .btn-cmt:hover{background:#74fe46;color:#fff;border-color:#74fe46}
@media (max-width: 991px){.form-comment .btn-cmt{margin-left:0px}
}
.social-media{font-size:1em}
.social-media label{display:inline-block}
.social-media a{margin-right:7px}
.social-media .list-inline li{margin-right:20px}
.section-news-2{margin-bottom:20px}
.search-page-main .ip_search{display:inline-block;width:100%}
.search-page-main .ip_search input{float:left}
.search-page-main .ip_search .src_input{height:44px;margin-bottom:0px;padding-left:15px;width:65%;max-width:300px}
.search-page-main .ip_search .button_src{background:#222;color:#fff;height:44px;border-radius:0px;margin-left:5px}
.search-page-main .single-product .price-box-small{margin-top:5px}
.search-page-main .single-product .price-box-small small{font-size:21px;color:#f4304c}
.search-page-main .single-product .price-box-small small em{color:#acacac}
.pd-right{padding-left:0px}
.main-container{min-height:300px}
.main-container .col-main{float:none;width:auto}
.main-container .col-main .cart .bg-scroll{border-top:none;margin-top:20px;overflow:hidden;border:solid 1px #ebebeb;border-top:none;border-bottom:none;border-right:none}
.main-container .col-main .cart .cart-thead{background:#fbfbfb;font-weight:bold;font-size:13px;clear:both;width:100%;border:1px solid #ebebeb;border-right:none;border-left:none;float:left;min-width:600px}
.main-container .col-main .cart .cart-thead div{float:left;white-space:nowrap;font-family:'Roboto',sans-serif;font-weight:400;line-height:25.2px;font-size:14px;color:#fff;text-decoration:none;padding:18px 0px;margin:0;text-align:center;border:solid 1px #000;text-transform:uppercase;background:#000}
.main-container .col-main .cart .nobr{white-space:nowrap}
.main-container .col-main .cart .cart div.a-right{text-align:right}
.main-container .col-main .cart .cart div.a-center{text-align:center}
.main-container .col-main .cart .cart-tbody{width:100%;float:left}
.main-container .col-main .cart .cart-tbody .item-cart{border-bottom:1px solid #ebebeb;width:100%;float:left}
.main-container .col-main .cart .cart-tbody .item-cart div{float:left;padding:10px 10px 10px;line-height:20px;vertical-align:top;border-right:solid 1px #ebebeb;height:150px;overflow:hidden;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}
.main-container .col-main .cart .cart-tbody .item-cart div:nth-child(6){padding:10px 0 6px;position:relative}
.main-container .col-main .cart .bg-scroll .cart-tbody .item-cart div a.remove-item{background-color:#fff;width:22px;height:26px;display:block;position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);background-repeat:no-repeat}
.main-container .col-main .cart .cart-tbody .item-cart .product-image{min-height:75px;display:block;height:auto;width:100%;max-width:100px;margin:0 auto}
.main-container .col-main .cart .cart-tbody .item-cart .product-image img{max-width:100%;height:auto;width:auto;display:inherit;margin:0 auto;min-width:auto;max-height:130px}
@media (max-width: 991px){.main-container .col-main .cart .cart-tbody .item-cart .product-image{padding:0}
}
.main-container .col-main .cart .cart-tbody .item-cart div .product-name{margin:0px;padding-bottom:0px;font-size:15px;font-weight:normal;line-height:24px}
.main-container .col-main .cart .cart-tbody .item-cart div .input_qty_pr{height:auto;border-right:none;width:100%}
.main-container .col-main .cart .cart .product-name a{font-size:14px}
.main-container .col-main .cart .item-cart .input_qty_pr .items-count{border:1px solid #ddd;outline:none;background:#fff;height:43px;width:30px;vertical-align:baseline;text-align:center;padding:0}
.main-container .col-main .cart .btn-plus{border-left:0px !important}
.main-container .col-main .cart .btn-minus{border-right:0px !important}
.main-container .col-main .cart .variant-title{color:#686868}
.main-container .col-main .cart .cart-tbody .item-cart div .price{font-size:16px;font-weight:bold;line-height:6;color:#bda87f}
.main-container .col-main .cart .item-cart .items-count{border:1px solid #ebebeb;outline:none;background:#fff;height:25px;width:21px;vertical-align:top;text-align:center;padding:0}
.main-container .col-main .cart .item-cart .number-sidebar{border:1px solid #ddd;height:43px;margin-left:-1px;text-align:center;width:23px;margin-right:-1px;padding:0;line-height:15px;border-left:0px;border-right:0px}
.main-container .col-main .cart .cart-tbody .item-cart div a.remove-item{background-color:#fff;background-image:none;color:#333;cursor:pointer;padding:0px;-moz-border-radius:0px;border-radius:0px;cursor:pointer;text-decoration:none;float:left;transition:all 0.3s linear;-moz-transition:all 0.3s linear;-webkit-transition:all 0.3s linear;border:none}
.main-container .col-main .cart .cart-tbody .item-cart div a.remove-item span{display:none}
.main-container .col-main .cart .btn-proceed-checkout{background:#bda87f;line-height:30px;color:#fff;height:30px;font-size:13px;border-radius:20px;font-weight:bold;text-transform:uppercase}
.main-container .col-main .cart .btn.btn-white{margin-right:5px;border-radius:20px;background:#f6f6f6;text-transform:uppercase;height:30px;line-height:30px;color:#888;font-weight:bold;font-size:13px}
.main-container .col-main .cart .btn.btn-white:hover{border-color:#bda87f}
.main-container .col-main .cart .totals .inner{padding:0px 0 15px;margin-top:0;margin-right:1px}
.main-container .col-main .cart #shopping-cart-totals-table tr td{border:none;border-top:none;border-bottom:none;padding:20px 0px}
.main-container .col-main .cart #shopping-cart-totals-table tr td.a-right{color:#666;font-size:20px;border:solid 1px #eee;border-top:0px;padding-left:20px}
.main-container .col-main .cart #shopping-cart-totals-table{width:100%;padding-bottom:8px;background:#fff}
.main-container .col-main .cart #shopping-cart-totals-table tfoot .shopping-cart-table-total{float:right;margin-top:25px}
.main-container .col-main .cart #shopping-cart-totals-table tfoot .shopping-cart-table-total th{font-size:14px;font-family:Roboto;border-right:1px solid #ebebeb;padding:15px 20px;text-transform:uppercase;border-top:0px;border-left:0px;border-bottom:0px;line-height:28px}
.main-container .col-main .cart #shopping-cart-totals-table tfoot .shopping-cart-table-total td{border-top:0px}
.main-container .col-main .cart #shopping-cart-totals-table tfoot .shopping-cart-table-total td span{color:#bda87f}
.main-container .col-main .cart ul.checkout{clear:left;margin-bottom:30px}
.main-container .col-main .cart .cart .totals table th,.main-container .col-main .cart .cart .totals table td{padding:10px;background:none !important;box-shadow:none !important;color:#333 !important;height:50px;vertical-align:middle}
.main-container .col-main .cart span.totals_price.price{color:#666;font-size:20px;font-weight:500}
.main-container .col-main .cart .cart-tbody .item-cart .number-sidebar{min-height:0;position:static;display:inline-block;float:none;margin-bottom:0}
@media (max-width: 991px){.main-container .col-main .cart .totals .inner{margin-right:0}
}
@media (max-width: 767px){.button-acc-cart .button_height_44{width:100%;margin-bottom:10px}
.totals_price_mobile{color:#bda87f}
.item-product .title-product-cart-mobile{max-width:150px}
.sign_main{background:#f7f8f9;margin-top:40px}
.main{border-bottom:solid 1px #ebebeb;background:#fff;margin-top:40px}
.main-container{margin-top:-40px}
.cart-mobile{margin-top:50px;padding:10px 0px 0px 0px}
.header-cart{padding:10px 15px 0px;border-bottom:solid 1px #ebebeb;margin-top:-10px}
.header-cart-content{margin-top:10px}
.header-cart-content .content-product-list{min-height:110px}
.header-cart-price{text-align:right;color:#666;font-size:20px;font-weight:500;width:100%}
.header-cart-price .button-acc-cart{text-align:center;display:inline-block;width:100%}
.header-cart-price .button-acc-cart .btn-white{width:100%;margin-bottom:15px;border-radius:20px;background:#f6f6f6;text-transform:uppercase;height:30px;line-height:30px;color:#888;font-weight:bold;font-size:13px}
.header-cart .title-cart{line-height:10px}
.header-cart-price{padding:18px 15px}
.title-cart h3{font-family:Arial, sans-serif;font-size:14px;font-weight:500;text-transform:uppercase}
.title-cart p{font-family:Arial , sans-serif;font-size:12px;color:#9c9c9c}
.title-cart a{float:right;margin-top:-28px;color:#bda87f;font-size:16px;line-height:27px;font-family:Arial, sans-serif}
.checkout{text-align:right}
.btn-proceed-checkout-mobile{background:#bda87f;line-height:30px;color:#fff;height:30px;font-size:13px;border-radius:0px;font-weight:bold;text-transform:uppercase;border:none;padding:0px 15px;margin-top:15px}
.content-product-list .item-product{padding:15px 15px;min-height:110px;border-bottom:solid 1px #ebebeb;overflow:hidden}
.item-product-cart-mobile,.title-product-cart-mobile,.select-item-qty-mobile{float:left}
.item-product-cart-mobile{max-width:115px;margin-right:10px}
.item-product-cart-mobile img{max-width:100%;margin-right:10px;height:auto}
.select-item-qty-mobile{float:right;text-align:center}
.title-product-cart-mobile a{word-break:break-word;font-family:Arial, sans-serif;font-size:14px;color:#363636}
.select-item-qty-mobile input.qty{background:none repeat scroll 0 0 #fff;border:1px solid #ebebeb;font-size:15px;font-weight:400;margin:0 !important;outline:medium none;padding:5px 5px 5px 12px;width:41px}
.title-product-cart-mobile p{line-height:2;font-size:14px;font-family:Arial, sans-serif;color:#898989}
.title-product-cart-mobile span{color:#bda87f}
.select-item-qty-mobile a{line-height:3;color:#363636;font-family:'Open Sans', sans-serif}
}
@media (min-width: 768px) and (max-width: 1199px){.main-container .col-main .cart .item-cart .input_qty_pr .items-count{width:20px !important}
}
@media (min-width: 376px) and (max-width: 767px){.select-item-qty-mobile .txt_center input{height:25px;width:30px !important;text-align:center;margin:0px;padding:0;position:absolute;left:24px;min-height:0}
.item-product .title-product-cart-mobile{max-width:150px}
.title-product-cart-mobile h3{line-height:1;margin:0}
.main-cart-page{min-height:auto !important}
.select-item-qty-mobile .txt_center button.reduced.items-count.btn-minus{position:absolute;left:0;top:0;width:24px !important;z-index:100;padding:2px 4px;margin:0;line-height:1;height:25px;border-style:hidden;background:none !important;color:#000;border:solid thin #ddd;width:24px;border-right:0px}
.select-item-qty-mobile .txt_center button.increase.items-count.btn-plus{position:absolute;right:2px;padding:2px;top:0;width:24px !important;margin:0;height:25px;display:inline-block;line-height:1;border-style:hidden;color:#fff;background:none !important;color:#000;border:solid thin #ddd;width:24px;border-left:0px}
.select-item-qty-mobile>div{position:relative;width:80px;height:25px}
}
@media screen and (max-width: 375px){.select-item-qty-mobile .txt_center input{height:25px;width:24px;text-align:center;margin:0px;padding:0;position:absolute;left:22px;min-height:0}
.item-product .title-product-cart-mobile{max-width:150px}
.title-product-cart-mobile h3{line-height:1;margin:0}
.main-cart-page{min-height:auto !important}
.select-item-qty-mobile .txt_center button.reduced.items-count.btn-minus{position:absolute;left:0;top:0;z-index:100;margin:0;line-height:1;height:25px;border-style:hidden;background:none !important;color:#000;border:solid thin #ddd;width:24px;border-right:0px}
.select-item-qty-mobile .txt_center button.increase.items-count.btn-plus{position:absolute;right:0;top:0;margin:0;height:25px;display:inline-block;line-height:1;border-style:hidden;color:#fff;background:none !important;color:#000;border:solid thin #ddd;width:24px;border-left:0px}
.select-item-qty-mobile>div{position:relative;width:68px;height:25px}
}
@media screen and (max-width: 375px){.item-product .title-product-cart-mobile{max-width:110px !important}
}
#customer_register{margin-bottom:20px}
#customer_login,#recover_customer_password{margin-bottom:0}
.checkbox.style input{margin:0 !important;display:none}
.checkbox.style label{display:inline-block;vertical-align:middle;font-weight:normal;text-transform:none;position:relative;padding-left:55px;line-height:50px}
.checkbox.style label:before{display:block;width:35px;height:35px;background:#fff;border:1px solid #d4d4d4;border-radius:5px;content:"";position:absolute;left:0;top:50%;transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);-o-transform:translateY(-50%)}
.checkbox.style input:checked+label:after{content:"\f00c";font-family:FontAwesome;font-size:20px;color:#bda87f;position:absolute;top:50%;left:8px;transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);-o-transform:translateY(-50%)}
.back_account{color:#bda87f !important;text-transform:none;font-weight:400;font-size:14px;margin-left:30px}
.back_account:hover{text-decoration:none}
.full-width{width:100%}
.checkbox_{min-height:auto !important}
.page_customer_account .col-main-acount{margin-bottom:40px;margin-top:50px}
.page_customer_account .col-main-acount .col-left-account .page-title .title-head a{color:#000;font-size:14px;font-weight:bold;line-height:10px;text-transform:uppercase;text-decoration:none}
.page_customer_account .col-main-acount .col-left-account .page-title .title-head a:hover{color:#bda87f}
.page_customer_account .col-main-acount .col-left-account .no-padding{padding:0px}
@media (max-width: 767px){.page_customer_account .col-main-acount .col-left-account .no-padding .my-account .dashboard .recent-orders .tab-all .table-cart{margin-bottom:0px !important}
}
.page_customer_account .col-main-acount .col-left-account .no-padding .my-account .dashboard .recent-orders .tab-all .table-cart{border:1px #ddd solid;font-size:15px;margin-bottom:0px;font-size:13px;line-height:37px;color:#252525;margin-bottom:30px;margin-top:15px}
.page_customer_account .col-main-acount .col-left-account .no-padding .my-account .dashboard .recent-orders .tab-all .table-cart .thead-default{color:#333333;text-align:center;border:#ddd thin solid;line-height:1.5;font-family:Arial;font-size:16px;font-weight:bold;background:#ebebeb;min-width:60px}
.page_customer_account .col-main-acount .col-left-account .no-padding .my-account .dashboard .recent-orders .tab-all .table-cart .thead-default tr{color:#333333;text-align:center;border:#ddd thin solid;line-height:1.5;font-family:Arial;font-size:16px;font-weight:bold;background:#ebebeb;min-width:60px}
@media screen and (max-width: 767px){.page_customer_account .col-main-acount .col-left-account .no-padding .my-account .dashboard .recent-orders .tab-all .table-cart .thead-default tr th{white-space:nowrap}
}
.page_customer_account .col-main-acount .col-left-account .no-padding .my-account .dashboard .recent-orders .tab-all .table-cart .thead-default tr th{padding:5px;font-size:14px;color:#55595c;background-color:#eceeef;text-align:center;font-weight:400}
@media screen and (max-width: 767px){.page_customer_account .col-main-acount .col-left-account .no-padding .my-account .dashboard .recent-orders .tab-all .table-cart tbody tr td{white-space:nowrap}
}
.page_customer_account .col-main-acount .col-left-account .no-padding .my-account .dashboard .recent-orders .tab-all .table-cart tbody tr td{padding:5px;text-align:center}
.page_customer_account .col-main-acount .col-left-account .no-padding .my-account .dashboard .recent-orders .tab-all .table-cart tbody tr td .price{font-weight:400;color:#000}
.page_customer_account .col-main-acount .col-left-account .no-padding .my-account .dashboard .recent-orders .tab-all .table-cart tbody tr td a:hover{color:#bda87f}
.page_customer_account .col-main-acount .col-right-account .block-account{padding:20px;border:1px #ddd solid;border-radius:5px}
.page_customer_account .col-main-acount .col-right-account .block-account .block-title-account{color:#dc3333;font-weight:600;text-transform:uppercase;position:relative;padding-bottom:10px}
.page_customer_account .col-main-acount .col-right-account .block-account .block-title-account h5{font-size:18px;margin:0px;padding:0px}
.page_customer_account .col-main-acount .col-right-account .block-account .block-content{padding:0px}
.page_customer_account .col-main-acount .col-right-account .block-account .block-content p{margin:10px 0px;line-height:24px;padding:0px;overflow:hidden}
.page_customer_account .col-main-acount .col-right-account .block-account .block-content p .fa{width:20px;text-align:center;color:#bda87f;float:left;line-height:24px}
.page_customer_account .col-main-acount .col-right-account .block-account .block-content p span{display:block;width:calc(100% - 35px);float:left}
.page_customer_account .col-main-acount .col-right-account .block-account .block-content .btn-bg{background:#bda87f;color:#fff;font-size:14px}
.page_order_account{margin-top:50px}
.page_order_account .top_order_title .title-headding{font-size:18px;text-transform:uppercase}
.page_order_account .top_order_title .order_date a{margin-left:30px;color:#bda87f}
.page_order_account .body_order #order_payment,.page_order_account .body_order #order_shipping{padding:0px}
.page_order_account .body_order #order_payment .box-header .title-head,.page_order_account .body_order #order_shipping .box-header .title-head{margin:0px;padding:0px;font-size:18px}
.page_order_account .body_order #order_payment .address p i,.page_order_account .body_order #order_shipping .address p i{color:#bda87f}
.page_order_account .content_order .table-responsive-block .table-cart .thead-default tr{border-top:solid 1px #ddd}
.page_order_account .content_order .table-responsive-block .table-cart .thead-default tr th{padding:10px 15px}
.page_order_account .content_order .table-responsive-block .table-cart tbody tr .numeric{font-weight:400;color:#000;text-align:right}
.page_order_account .content_order .table-responsive-block .table-cart tbody tr .link a{color:#333}
.page_order_account .content_order .table-responsive-block .table-cart tbody tr .link:hover a{color:#bda87f;text-decoration:none}
.page_order_account .oder_total_monney .totalorders tfoot .order_total .right{color:#000;font-size:16px;font-weight:500}
.canced{color:red}
.price_off{color:red;text-decoration:line-through}
@media screen and (max-width: 991px){.m992{display:none}
#parent{display:flex;flex-flow:column}
#a{order:2}
#b{order:1}
.sodiachi .form-xs{line-height:10px !important}
}
@media screen and (min-width: 992px){.mx991{display:none}
}
.block-account h3{margin-top:0}
.col-main-acount .page-title{margin:0px}
@media (max-width: 767px){.block-account{margin-bottom:20px}
.page_customer_account .col-main-acount .col-left-account .no-padding .my-account .dashboard .recent-orders .tab-all .table-cart{margin-top:0px}
}
.customer-name{color:#bda87f;line-height:55px}
.block-content.form-signup{background:#fff;padding-top:20px}
.block-content.form-signup p{padding:0 20px}
.block-content.form-signup p i{color:#bda87f;margin-right:10px}
.address-title{padding-left:10px;margin-bottom:15px;border-radius:0 !important;font-weight:300}
.address-title button{background:none;border:none;font-size:0;width:50px;height:55px}
.address-subtitle{margin-top:0;text-transform:uppercase}
.address-item-action{right:0;top:-7px}
.address-item-action .btn-row{padding-right:5px}
.address-group{background:#fff;padding-bottom:5px;margin-bottom:15px}
.address-group p{color:#595959}
.address-group p label{float:left;font-weight:300}
#order_payment,#order_shipping{background:#fff;padding:10px 20px}
#order_payment .address.note i,#order_shipping .address.note i{color:#bda87f;margin-right:5px}
.totalorders{background:#fff;border-color:#ddd}
.order-headding{margin:0}
.contact-owf{margin-bottom:40px}
.widget-item .title-head{text-transform:uppercase;margin-top:0;font-size:18px;font-weight:700;margin-bottom:20px;color:#000}
.widget-item .widget-menu{font-size:14px;margin-bottom:30px;overflow:hidden}
.widget-item .widget-menu .ico-left{display:block;float:left;width:25px;text-align:center}
.widget-item .widget-menu p,.widget-item .widget-menu .rc{display:block;float:left;width:calc(100% - 35px);margin-left:5px}
.widget-item .widget-menu li{margin-bottom:5px}
.widget-item .widget-menu li:hover>a{text-decoration:none}
.widget-item .widget-menu li .fa{line-height:21px !important}
.widget-item .widget-menu li span{margin-right:7px !important;line-height:24px !important;padding-left:25px !important;display:block}
.widget-item .widget-menu li a{line-height:24px !important;padding-left:0px !important}
.widget-item .border-contact-page{padding:2px 0px;border:dashed 1px #ddd;display:block}
.widget-item .descripti{font-size:14px;margin:20px 0px 0px}
.widget-item .logo{font-size:20px}
.btn-submit-lh{margin-left:115px;background:#fff;border-radius:20px;font-weight:bold;border:solid 1px #ddd;width:120px}
.btn-submit-lh:hover{background:#74fe46;border-color:#74fe46;color:#fff}
@media (max-width: 991px){.btn-submit-lh{margin-left:0px}
}
.contactpage .form-comment .form-group{margin-bottom:15px !important}
.contactpage .form-comment .form-group label{width:100px !important}
#order_payment,#order_shipping{background:#fff;padding:10px 20px}
#order_payment .address.note i,#order_shipping .address.note i{color:#bda87f;margin-right:5px}
.totalorders{background:#fff;border-color:#d9d9d9}
.order-headding{margin:0}
.info-contact .widget-menu p{display:inline}
.info-contact .logo{font-size:20px}
.aside-item.collection-category .nav-item{position:relative;clear:left;font-size:14px}
.aside-item.collection-category .nav-item a{font-size:14px;color:#bda87f}
.aside-item.collection-category .nav-item .fa{position:absolute;right:0;top:10px}
.aside-item.collection-category .nav-item .dropdown-menu{position:static;width:100%;border:0;padding-left:0px;box-shadow:none}
.aside-item.collection-category .nav-item .dropdown-menu li a{color:#777;padding:5px 20px}
.aside-item.collection-category .nav-item .dropdown-menu li .fa{color:#bda87f;top:0;line-height:26px}
.aside-item.collection-category .nav-item .dropdown-menu li:hover>a{color:#000}
.aside-item.collection-category .nav-item .dropdown-menu li:hover .fa{color:#000}
.aside-item.collection-category .nav-item .dropdown-menu li.active>a{color:#74fe46}
.aside-item.collection-category .nav-item .dropdown-menu li.active>.fa{color:#74fe46}
.aside-item.collection-category .nav-item:hover a{color:#000}
.aside-item.collection-category .nav-item:hover .fa{color:#000}
.aside-item.collection-category .nav-item.active>a{color:#74fe46}
.aside-item.collection-category .nav-item.active>.fa{color:#74fe46}
.aside-item.collection-category .nav-item.active>.dropdown-menu{display:block}
.aside-item.collection-category .nav>li>a{padding:5px 10px}
.aside-item.collection-category .nav>li>a:hover{background-color:#fff}
.aside-item .nav>li>a:focus,.aside-item .nav>li>a:hover{background:none}
.ui-widget.ui-widget-content{height:2px;background:#ebebeb}
.ui-slider-range.ui-corner-all.ui-widget-header{background:#000 !important}
.ui-slider-horizontal .ui-slider-handle{height:14px !important;width:14px !important;border-radius:50% !important;top:-6px !important;border:none !important;background:#000 !important}
.ui-widget.ui-widget-content{border:none !important;margin-bottom:25px;width:calc(100% - 14px);margin-left:7px}
#start{width:100px;float:left}
#start input{text-align:center;border-radius:3px;border:1px solid #e1e1e1;box-shadow:none}
#stop{width:100px;float:left;margin-left:30px;text-align:center;position:relative}
#stop input{text-align:center;border-radius:3px;border:1px solid #e1e1e1;box-shadow:none}
#stop:before{content:"-";position:absolute;left:-17px;font-size:17px}
a#filter-value{height:30px;line-height:30px;font-weight:400;width:100px;margin-top:15px}
.filter-select{color:#ddd;font-size:20px;margin-left:15px}
.filter-select:hover,.filter-select:focus,.filter-select.active{color:#212121}
.filter-item{float:right;margin-left:50px;color:#888}
.filter-right{border:1px solid #ddd;line-height:40px;height:40px;padding-right:15px;display:inline-block;width:100%}
.btn-group.bootstrap-select.sort{min-width:auto !important}
.filter-item .btn-default{border:none !important;color:#888;margin-top:-5px}
.filter-item .btn-default:active,.filter-item .btn-default.active,.open>.filter-item .btn-default.dropdown-toggle{color:#888}
.filter-item .filter-option{overflow:visible !important}
div#isp_search_result_page_container .btn-search{display:none}
button.btn.btn-default.btn-search{display:none}
div#isp_search_result_page_container form{margin-bottom:0}
.searchpadding form input:focus{outline:none !important}
textarea:focus,input:focus{outline:none}

